.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

.container {
  background: white;
  margin: 2rem;
  width: 720px;
  max-height: 720px;
  border-radius: 5px;
  box-shadow: 4px 4px 50px #c9c9ca;
  display: flex;
  flex-direction: column;
}

.base {
  min-height: 1px;
}