.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  /* border: 2px solid black; */
  margin: 2rem;
  width: 720px;
  border-radius: 5px;
  box-shadow: 4px 4px 50px #c9c9ca;
}
