.noteSection{
    margin-top: auto;
    padding: .5rem 1.5rem;
}

.addNote {
    display: grid;
    grid-template-columns: 70% 20%;
    grid-gap: 10px;
    padding-bottom: .2rem;
}

.noteStyle{
    display: inline-block;
    padding: .5rem;
    border: .5px solid #eee;
    margin: .5rem 0;
    border-radius: 4px;
    width: 80%;
}

.noteIcon { 
    height: 25px;
    width: 25px;
    color: #eee;
    cursor: pointer;
    padding: .2rem;
}